<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class = "home">
    <nav>
        <ul>
            <li> <a href> home </a>
            <li> <a href="about/" > about </a>
            <li> <a href> music </a>
            <li> <a href> contact </a>
        </ul>
    </nav>
    <h1>about</h1>
</body>
</html>